@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

html {
  background-image: url("images/background.png");
  background-size: cover
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 64px;
  color: white;
}

p {
  font-family: 'Gowun Dodum', sans-serif;
}

a {
  font-family: 'Gowun Dodum', sans-serif;
}

.diceroll {
  margin-left: 15%
}